.dropdown {
  position: relative;
}

.dropdown__heading {
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
  text-align: center;
  cursor: default;
  @include mq($width-desktop) {
    margin-bottom: 0;
  }
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@include mq($width-desktop) {
  .dropdown__list {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: -12px;
    transform: translate(-50%, -16px);

    // display: flex;
    // flex-direction: column;
    gap: 4px;
    min-width: max-content; //144px;
    padding: 37px 6px 12px;

    background-color: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 50% 50%;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    @include animate(transform opacity box-shadow visibility);
  }

  .dropdown:hover .dropdown__list,
  .dropdown:focus-within .dropdown__list {
    transform: translate(-50%, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
