.dropdown {
  position: relative;
}

.dropdown__heading {
  position: relative;
  z-index: 1;

  cursor: default;
  text-transform: uppercase;

  @include mq($width-desktop) {
    margin-bottom: 0;
    padding: 10px;
    text-transform: none;
    &::after {
      content: '';
      position: absolute;
      right: -4px;
      top: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 4px 0 4px;
      border-color: #007bff transparent transparent transparent;
      @include animate(transform);
    }
    &.is-dropdown::after {
      transform: rotateX(180deg);
    }
  }
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  overflow: hidden;
  max-height: 250px; // Не менее высоты контента
  @include animate(max-height visibility margin-top);

  @include mq($width-desktop) {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 0;
    transform: translate(-50%, -16px);

    gap: 0;
    min-width: max-content;
    padding: 35px 6px 10px;

    background-color: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 50% 50%;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    @include animate(transform opacity box-shadow visibility);
  }
}

.page-nav__sublink {
  @include mq($width-desktop) {
    padding: 2px 0;
  }
}

.is-dropdown + .dropdown__list {
  margin-top: 24px;
  @include mq($width-desktop) {
    transform: translate(-50%, -2px);
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

:not(.is-dropdown) + .dropdown__list {
  @include mq($until: $width-desktop) {
    max-height: 0px;
    visibility: hidden;
  }
}
