.header-phones {
  position: relative;
  display: flex;
  align-items: center;
}

.header-phones__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include mq($width-tablet) {
    display: none;
  }
}

.header-phones > .header-phones__icon {
  padding: 6px 0;
  outline: none;

  @include animate(transform text-shadow);

  &:hover,
  &:focus {
    transform: scale(1.07);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
}

.header-phones__icon {
  fill: currentColor;
  color: #008cef;
  @include mq($width-tablet) {
    width: 14px;
    height: 14px;
  }
}

.header-phones__popup {
  @include mq($until: $width-tablet) {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    transform: translateX(-60%);

    padding: 11px 8px;

    border-radius: 2px;

    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @include animate(opacity);

  .header-phones:hover &,
  .header-phones:focus-within & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.header-phones__popup-arrow {
  position: absolute;
  top: 0;
  left: 60%;
  transform: translate(calc(-50% + 12px), -75%);
  fill: #fff;
  @include mq($width-tablet) {
    display: none;
  }
}

// &__list {
// }

.header-phones__item {
  width: max-content;
}

.header-phones__link {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 5px 0;

  outline: none;
  @include animate(transform text-shadow);

  @include font(16px, 20px, 0.01em);
  color: #2b2b2b;

  @include mq($width-tablet) {
    gap: 4px;
  }

  &:hover,
  &:focus {
    transform: scale(1.07);
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
}
