@use 'sass:map';

@import './variables';
@import './utils';
@import './reset';
@import './burger';
@import './header-phones';
@import './page-nav';
@import './dropdown';

// Должно быть .container, но стиль перебивается
.h-container {
  min-width: $width-min-allowable;
  max-width: $width-mobile;
  margin: 0 auto;
  padding: 0 15px;

  @include mq($width-tablet) {
    max-width: $width-tablet;
  }
  @include mq($width-desktop) {
    max-width: $width-desktop;
  }
}

.page-header {
  position: relative;
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 36px;

  @include mq($width-tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: +15px;
  }

  @include mq($width-desktop) {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: +60px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    margin-right: auto;
    padding: 7px 0;
    @include mq($width-desktop) {
      padding: 0;
    }
  }

  &__right-block {
    justify-self: right;
    display: flex;
    align-items: center;
  }
}

.marked {
  &::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 12px 4px -19px;
    border-radius: 3px 0;
    border: 1px solid $text-color-secondary;

    background-color: currentColor;
    @include mq($width-desktop) {
      display: none;
    }
  }

  @include mq($width-desktop) {
    @include font(16px, 19px);
  }
}

.lang {
  padding: 10px;
  border: none;
  border-radius: 4px;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  @include mq($width-tablet) {
    order: -1;
    margin-right: 38px;
  }

  @include mq($width-desktop) {
    margin-right: 118px;
  }
}

body.is-locked {
  overflow: hidden;
}
