@import './variables';
@import './reset';
@import './burger';
@import './header-phones';
@import './page-nav';
@import './dropdown';
@import './lang';

body.is-locked {
  overflow: hidden;
}

.page-header {
  position: relative;
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-bottom: +36px;

  @include mq($width-tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-bottom: +15px;
  }

  @include mq($width-desktop) {
    padding-top: 35px;
    padding-bottom: 35px;
    // margin-bottom: +60px;
  }
}

.page-header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
}

.page-header__logo {
  margin-right: auto;
  padding: 7px 0;
  @include mq($width-desktop) {
    padding: 0;
  }
}

.page-header__right-block {
  justify-self: right;
  display: flex;
  align-items: center;
}
