$width-min-allowable: 320px;
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1440px;

$text-color-secondary: #487996;
$text-color-primary: #2b2b2b;

$font-primary: 'CeraPro', sans-serif;
$font-secondary: 'CaviarDreams', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
