.model-examples{
    

    &__title{
        margin-bottom: 16px;
        font-weight: 700;
        text-align: start;
        font-size: 24px;
        line-height: 1.25;
        color: getColor('title-text');
        margin-bottom: 16px;
    }


    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px 20px;
        margin-bottom: 40px;
    }



    &__canvas{   display: flex; 
    align-items: center;
    flex-direction: column;

    justify-content: space-evenly;
    width: 130px;
    height: 158px;
    opacity: 0.8;
    background: #FFFFFF;
    border-radius: 50px 0;
    position: relative;
    box-shadow: inset 1px 1px 16px #CBCBCB, inset -1px -1px 16px #FFFFFF;
    border-radius: 50px 0px;}

    &__description{font-size: 14px;
        line-height: 1.28;
        text-align: center;
        font-weight: inherit;
        color: getColor('title-text');}
}