.model-examples {
  padding-top: 20px;
  @include mq($width-tablet) {
    padding-top: 14px;
  }
  @include mq($width-desktop) {
    padding-top: 60px;
  }

  &__title {
    margin-bottom: 16px;
    color: getColor('title-text');
    @include font(24px, 30px, null, 700);

    @include mq($width-tablet) {
      @include font(36px, 45px);}

    @include mq($width-desktop) {
      margin-bottom: 24px;
      padding-left: 117px;
      @include font(48px, 60px);  }}

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    list-style: none;

    @include mq($width-tablet) {
      gap: 32px;  }}

  &__item {
    width: calc(50% - 10px);

    @include mq($width-tablet) {
      width: calc(25% - 24px);
    }
  }

  &__div {
    display: flex;
    align-items: center;
    height: 86px;

    @include mq($width-desktop) {
      height: 240px;
    }
  }

  &__canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 15px;
    height: 158px;
    opacity: 0.8;
    background: #ffffff;
    border-radius: 50px 0;
    box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px #ffffff;
    border-radius: 50px 0px;
    
    @include mq($width-tablet) {
      padding-top: 36px;
      padding-bottom: 22px;
      height: 182px;
    }

    @include mq($width-desktop) {
      height: 382px;
    }
  }

  &__description {
    height: 25px;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    font-weight: inherit;
    color: getColor('title-text');

    @include mq($width-desktop) {
      font-size: 18px;
      height: 59px;
    }
  }
}
