.model-examples__canvas{
    
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #FFFFFF;
    border-radius: 50px 0;
    position: relative;
    box-shadow: inset 1px 1px 16px #CBCBCB, inset -1px -1px 16px #FFFFFF;
    border-radius: 50px 0px;
}