@font-face {
  font-family: 'CeraPro';
  src: url('/src/fonts/CeraPro-700.eot');
  src: local('☺'), url('/src/fonts/CeraPro-700.woff') format('woff'),
    url('/src/fonts/CeraPro-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/src/fonts/CeraPro-400.eot');
  src: local('☺'), url('/src/fonts/CeraPro-400.woff') format('woff'),
    url('/src/fonts/CeraPro-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('/src/fonts/CaviarDreams-400.eot');
  src: local('☺'), url('/src/fonts/CaviarDreams-400.woff') format('woff'),
    url('/src/fonts/CaviarDreams-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url('/src/fonts/CeraPro-300.eot');
  src: local('☺'), url('/src/fonts/CeraPro-300.woff') format('woff'),
    url('/src/fonts/CeraPro-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

$font-primary: 'CeraPro', sans-serif;
$font-general: 'CeraPro', sans-serif;

$font-secondary: 'CaviarDreams', sans-serif;
$font-hero: 'CaviarDreams', sans-serif;
