<section class="section">
  <div class="container">
    <h2 class="section__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scan-list">
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <svg class="scan-list__icon">
            <use href=""></use>
          </svg>
          <p class="scan-list__descr">Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <svg class="scan-list__icon">
            <use href=""></use>
          </svg>
          <p lass="scan-list__descr">Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <svg class="scan-list__icon">
            <use href=""></use>
          </svg>
          <p lass="scan-list__descr">Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <svg class="scan-list__icon">
            <use href=""></use>
          </svg>
          <p lass="scan-list__descr">Підготовка деталі до сканування</p>
        </div>
      </li>
    </ul>
  </div>
</section>
