@mixin animate($p, $d: $duration, $tf: $timing-function) {
    @if (list.length($p) > 2) {
        transition-property: list.append($p, (), comma);
        transition-duration: $d;
        transition-timing-function: $tf;
    }

    @else if (list.length($p)==2) {
        $transition: ();

        @each $ip in $p {
            $transition: list.append($transition, $ip $d $tf, comma);
        }

        transition: $transition;
    }

    @else {
        transition: $p $d $tf;
    }
}

@mixin mq($from: null, $until: null) {
    @if ($from) and ($until) {
        @media screen and (min-width: $from) and (max-width: $until) {
            @content;
        }
    }

    @else if ($from) {
        @media screen and (min-width: $from) {
            @content;
        }
    }

    @else if ($until) {
        @media screen and (max-width: $until) {
            @content;
        }
    }
}