$colors: (
  'primary-text': #2b2b2b,
  'title-text': #487996,
  'background': #f5f5fa,
  'header-text': #bdbdbd,
  'active-color': #008cef,
  'white': #ffffff,
  'backdrop': rgba(43, 43, 43, 0.8),
  'icon-color': #cdcdcd,);

@function getColor($key) {
  @return map-get($colors, $key);}

$width-min-allowable: 320px;
$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1440px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
