<section class="main-gallery" id="gallery">
  <div class="container">
    <h2 class="main-gallery__title">Галерея</h2>
    <ul class="main-gallery__list">
      <li class="main-gallery__item">
        <picture class="main-gallery__img">
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-webp/gallary-img-1.webp    1x,
              ./images/main/desktop/gallery/gallery-webp/gallary-img-1@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-webp/gallary-img-1.webp    1x,
              ./images/main/tablet/gallery/gallery-webp/gallary-img-1@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-webp/gallary-img-1.webp    1x,
              ./images/main/mobile/gallery/gallery-webp/gallary-img-1@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg"
            alt="3-Д зображення деталі з зонами навантаження"
            class="main-gallery__img--width"
          />
        </picture>
        <h3 class="main-gallery__description">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="main-gallery__item">
        <picture class="main-gallery__img">
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-webp/gallary-img-2.webp    1x,
              ./images/main/desktop/gallery/gallery-webp/gallary-img-2@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-webp/gallary-img-2.webp    1x,
              ./images/main/tablet/gallery/gallery-webp/gallary-img-2@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-webp/gallary-img-2.webp    1x,
              ./images/main/mobile/gallery/gallery-webp/gallary-img-2@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg"
            alt="Сканування масштабованої моделі автомобіля"
            class="main-gallery__img--width"
          />
        </picture>
        <h3 class="main-gallery__description">Високоточне 3D сканування</h3>
      </li>
      <li class="main-gallery__item">
        <picture class="main-gallery__img">
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-webp/gallary-img-3.webp    1x,
              ./images/main/desktop/gallery/gallery-webp/gallary-img-3@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-webp/gallary-img-3.webp    1x,
              ./images/main/tablet/gallery/gallery-webp/gallary-img-3@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-webp/gallary-img-3.webp    1x,
              ./images/main/mobile/gallery/gallery-webp/gallary-img-3@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg"
            alt="Зображення 3-Д моделі деталі"
            class="main-gallery__img--width"
          />
        </picture>
        <h3 class="main-gallery__description">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>
      <li class="main-gallery__item">
        <picture class="main-gallery__img">
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-webp/gallary-img-4.webp    1x,
              ./images/main/desktop/gallery/gallery-webp/gallary-img-4@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-webp/gallary-img-4.webp    1x,
              ./images/main/tablet/gallery/gallery-webp/gallary-img-4@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ./images/main/tablet/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-webp/gallary-img-4.webp    1x,
              ./images/main/mobile/gallery/gallery-webp/gallary-img-4@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg"
            alt="Створення 3-Д моделі дизайнером на моніторі компьютера"
            class="main-gallery__img--width"
          />
        </picture>
        <h3 class="main-gallery__description">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
