<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">Галерея</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          src="./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-1.jpg"
          alt="3-Д зображення деталі з зонами навантаження"
          srcset="
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
          "
        />
        <h3>Інженерні методи аналізу та контролю якості</h3>
      </li>
      <li class="gallery__item">
        <img
          src="./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-2.jpg"
          alt="Сканування масштабованої моделі автомобіля"
          srcset="
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
          "
        />
        <h3>Високоточне 3D сканування</h3>
      </li>
      <li class="gallery__item">
        <img
          src="./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-3.jpg"
          alt="Зображення 3-Д моделі деталі"
          srcset="
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
          "
        />
        <h3>Створення точної копії на базі сканування reverse engineering</h3>
      </li>
      <li class="gallery__item">
        <img
          src="./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-4.jpg"
          alt="Створення 3-Д моделі дизайнером на моніторі компьютера"
          srcset="
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
            ./images/main/mobile/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
          "
        />
        <h3>
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>