<div class="gallary__backdrop">
  <div class="container gallary__btn-panel">
    <button type="button" class="arrow-previous gallary__btn-prev">
      <svg class="arrow-previous__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light-1"></use>
      </svg>
    </button>
    <button type="button" class="arrow-next gallary__btn-next">
      <svg class="arrow-next__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light"></use>
      </svg>
    </button>
  </div>
</div>

<script src="./js/gallary.js"></script>
