<section class="more-photos">
  <div class="container">
    <div class="more-photos__container">
      <h2 class="more-photos__title">Більше фото</h2>
      <div class="main-block"></div>
      <ul class="more-photos__list">
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-1.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-1@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg"
              alt="Фото фігурок іграшок вироблених 3-Д принтером"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-2.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-2@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg"
              alt="Модель конструкції сцени"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-3.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-3@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg"
              alt="Модель робота"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-4.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-4@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg"
              alt="Череп"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-5.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-5@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg"
              alt="Модель танк"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-6.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-6@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg"
              alt="Дві настольні лампи"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-7.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-7@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg"
              alt="Модель спортивного авто"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-8.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-8@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg"
              alt="Модель куполу будинку"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-9.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-9@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg"
              alt="Настольна лампа у вигляді гриба"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-10.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-10@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg"
              alt="Три запальнички"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-11.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-11@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg"
              alt="Моделька авто пікап"
            />
          </picture>
        </li>
        <li class="more-photos__item">
          <picture>
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/main/desktop/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/main/tablet/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/main/tablet/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-webp/more-photos-12.webp    1x,
                ./images/main/mobile/gallery/more-photos-webp/more-photos-12@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
                ./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="gallery-modal gallary__image"
              src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg"
              alt="Композиція горшки-клітки для квітів"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
