<section class="more-photo">
  <div class="container">
    <h2>Більше фото</h2>
    <ul>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg"
          alt="Фото фігурок іграшок вироблених 3-Д принтером"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg"
          alt="Модель конструкції сцени"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg"
          alt="Модель робота"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg"
          alt="Череп"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg"
          alt="Модель танк"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg"
          alt="Дві настольні лампи"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg"
          alt="Модель спортивного авто"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg"
          alt="Модель куполу будинку"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg"
          alt="Настольна лампа у вигляді гриба"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg"
          alt="Три запальнички"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg"
          alt="Моделька авто пікап"
        />
      </li>
      <li>
        <img
          src="./images/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg"
          alt="Композиція горшки-клітки для квітів"
        />
      </li>
    </ul>
  </div>
</section>
