<div class="backdrop">
  <div class="gallery-modal">
    <!-- <button type="button" class="arrow-previous">
      <svg class="arrow-previous__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light-1"></use>
      </svg>
    </button>
    <button type="button" class="arrow-next">
      <svg class="arrow-next__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light"></use>
      </svg>
    </button> -->
  </div>
</div>

<div class="gallary__backdrop">
  <div class="container gallary__btn-panel">
    <!-- <div class="gallary__btn-prev"></div>
    <div class="gallary__btn-next"></div> -->
    <button type="button" class="arrow-previous gallary__btn-prev">
      <svg class="arrow-previous__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light-1"></use>
      </svg>
    </button>
    <button type="button" class="arrow-next gallary__btn-next">
      <svg class="arrow-next__icon">
        <use href="/src/images/icons.svg#icon-topcoat_next-light"></use>
      </svg>
    </button>
  </div>
</div>

<script src="./js/gallary.js"></script>
