.modeling {
  @include mq($width-tablet) {
    margin-bottom: 100px;
  }
}

.container-modeling {
  @include mq($width-tablet) {
    display: flex;
    max-width: 768px;
  }
    @include mq($width-desktop) {
    display: flex;
    width: 1440px;
  }
}

.modeling-title {
  margin-bottom: 16px;
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;

  color: #487996;

  @include mq($width-tablet) {
    margin-bottom: 16px;
  }

    @include mq($width-desktop) {
    margin-bottom: 67px;
    font-size: 48px;
    line-height: 1.25;
  }
}

.modeling-list {
  list-style: none;

  @include mq($width-tablet) {
    margin-bottom: 40px;
  }

    @include mq($width-desktop) {
    gap: 58px;
    margin-bottom: 78px;
  }
}
.modeling-list__img {
  list-style: none;
  @include mq($width-tablet) {
    margin-bottom: 16px;
  }

    @include mq($width-desktop) {
    gap: 58px;
    margin-bottom: 78px;
  }
}
.modeling-item {
  font-weight: 300;
  font-family: 'Cera Pro';
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    color: #2B2B2B;
    gap: 16px;
    padding-left: 0;

  @include mq($width-tablet) {
    margin-bottom: 16px;
  }

 @include mq($width-desktop) {
    gap: 58px;
    margin-bottom: 78px;
  }

    &::before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 0 12px 4px -19px;
      background-color: getColor(title-text);
      border-radius: 3px 0;
      border: 1px solid getColor('title-text');
  
      @include mq($width-tablet) {
        width: 8px;
        height: 8px;
      }
    }
}
.modeling-img__item {
  width: 280px;


  @include mq($width-tablet) {
    width: 246px;
    margin-right: 0;
    float: right;
  }

 @include mq($width-desktop) {
    width: 555px;
    margin-right: 0;
    float: right;
  }
}
