.modeling-container {

@include mq($width-tablet) {
position: relative;
}
  
@include mq($width-desktop) {
padding-left: 149px;
padding-right: 149px;
}
}
.modeling__div {
padding-bottom: 56px;
display: flex;
flex-direction: column;
  
@include mq($width-tablet) {
position: relative;
display: flex;
align-items: center;
flex-direction: row;
}
  
@include mq($width-desktop) {
position: relative;
display: flex;
}
}
.modeling-title {
font-size: 18px;
margin-bottom: 16px;
font-family: 'Cera Pro';
font-weight: 700;
line-height: 1.25;
text-transform: uppercase;
color: #487996;

@include mq($width-tablet) {
margin-bottom: 16px;
font-size: 24px;
}

@include mq($width-desktop) {
margin-bottom: 24px;
font-size: 36px;
}
}
.modeling-list {
list-style: none;

@include mq($width-tablet) {
margin-bottom: 40px;
}
}
.modeling-sec-container {
  @include mq($width-desktop) {
    padding-top: 60px;
  }
}
.modeling-item {
display: flex;
  align-items: center;
}
.modeling-item::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 12px 4px -19px;
  background-color: getColor(title-text);
  border-radius: 3px 0;
  
  @include mq($width-tablet) {
  width: 8px;
  height: 8px;
  }
}

.modeling-item:not(:last-child) {
  margin-bottom: 16px;
}
.modeling__img-container {
  background-image: url(/src/images/3d-modeling/mobile/3d-model.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  background-size: contain;
  @include retina() {
  background-color: url(../images/3d-modeling/mobile/3d-model@2x.png);
  background-repeat: no-repeat;
  background-position: center;
}
 @include mq($width-tablet) {
  background-image: url(../images/3d-modeling/tablet/3d-model.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 246px;
  height: 144px;
  position: relative;
  margin-left: auto;
  background-size: contain;
  @include retina() {
    background-image: url(../images/3d-modeling/tablet/3d-model@2x.png);
      background-repeat: no-repeat;
      background-position: center;
  }
}
@include mq($width-desktop) {
  background-image: url(../images/3d-modeling/desktop/3d-model.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 555px;
  height: 301px;
  background-size: contain;
  @include retina() {
  background-image: url(../images/3d-modeling/desktop/3d-model@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  }
}
}
.modeling-rec {
  @include mq($width-desktop) {
    width: 136.8px;
    height: 144px;
    position: absolute;
    right: -117px;
    bottom: 0;
    background-color: #fff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    z-index: -1;
  }
}
.modeling__text {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Cera Pro';
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #2B2B2B;
  gap: 16px;
  padding-left: 0;
  
    @include mq($width-tablet) {
      margin-bottom: 16px;
    }
  
    @include mq($width-desktop) {
      gap: 58px;
      margin-bottom: 78px;
      font-weight: 300;
      font-size: 16px;
    }
 }
.modeling__t-img {

  @include mq($width-desktop) {
  background-color: #fff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 0px 35px;
  transform: rotate(-90deg);
  width: 74px;
  height: 71px;
  z-index: -1;
  position: absolute;
  bottom: 15;
  right: 0;
  }
  @include mq($width-desktop) {
  display: none;  
  }
}

.modeling__mob-one {
  left: -17px;
  width: 73.65px;
  height: 73.65px;
  position: absolute;
  top: 129;
  z-index: -1;
  background-color: #fff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  @include mq($width-tablet) {
    display: none;
  }
}
.modeling__mob-two {
  width: 73.65px;
  height: 73.65px;
  position: absolute;
  z-index: -1;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
  border-radius: 72px;
  top: 66.5px;
  right: -17px;
  @include mq($width-tablet) {
      display: none;
    }
}




