.modeling {
     @media screen and (min-width: 768px) {
               margin-bottom: 100px;
                         }
}

.container-modeling {
    
     @media screen and (min-width: 768px) {
     display: flex;
     max-width: 768px;
          }
     @media screen and (min-width: 1440px) {
          display: flex;
          width: 1440px;
                    }
     
}

.modeling-title {
     margin-bottom: 16px;
     font-family: 'Cera Pro';
     font-weight: 700;
     font-size: 18px;
     line-height: 1.25;
     text-align: left;
     text-transform: uppercase;
     
     color: #487996;
     
          @media screen and (min-width: 768px) {
               margin-bottom: 16px;
          }
     
          @media screen and (min-width: 1440px) {
               margin-bottom: 67px;
               font-size: 48px;
               line-height: 1.25;
          }
}

.modeling-list {
 list-style: none;

@media screen and (min-width: 768px) {
          margin-bottom: 40px;         
     }

@media screen and (min-width: 1440px) {
          gap: 58px;
          margin-bottom: 78px;

     }
}
.modeling-list__img {
 list-style: none;
     @media screen and (min-width: 768px) {
               margin-bottom: 16px;
          }
     
     @media screen and (min-width: 1440px) {
          gap: 58px;
          margin-bottom: 78px;
     
          }
}
.modeling-item {
     font-family: 'Cera Pro';
     font-weight: 300;
     font-size: 16px;
     line-height: 1.25;
     text-align: left;
     color: #2B2B2B;
     gap: 16px;
     padding-left: 0;

     @media screen and (min-width: 768px) {
               margin-bottom: 16px;
          }
     
     @media screen and (min-width: 1440px) {
               gap: 58px;
               margin-bottom: 78px;
     
          }

}
.modeling-img__item {
     width: 280px;

     @media screen and (min-width: 768px) {
               width: 246px;
               margin-right: 0;
          }
     
          @media screen and (min-width: 1440px) {
               width: 555px;
               margin-right: 0;
     
          }
}