.hero-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
    .hero-title {
      margin-top: 0;
      margin-bottom: 16px;
      font-family: 'Cera Pro';
      font-weight: 700;
      font-size: 24px;
      line-height: 1.25;
      text-align: left;
      color: #487996;
  
      @include mq($width-tablet) {
        margin-bottom: 16px;
      }
  
      @include mq($width-desktop) {
        margin-bottom: 100px;
        font-size: 48px;
        line-height: 1.25;
      }
    }
  
    @include mq($width-tablet) {
      margin-bottom: 16px;
    }
  
    @include mq($width-desktop) {
      margin-bottom: 67px;
      font-size: 48px;
      line-height: 1.25;
    }

.hero-list {
  list-style: none;
  justify-content: center;

  @include mq($width-tablet) {
    gap: 58px;
    margin-bottom: 78px;
    padding-left: 0;
    display: flex;
  }
}
.hero__item {
  font-family: 'Cera Pro';

  @include mq($width-tablet) {
    width: 515px;
  }
}

.hero__item:not(:last-child) {
  margin-bottom: 16px;

  @include mq($width-desktop) {
    margin-bottom: 0;
    margin-right: 72px;
  }
}
.hero__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  font-family: 'Cera Pro';

  @include mq($width-desktop) {
    font-size: 18px;
    line-height: 1.27;
  }
}
