
.modeling-hero__container {
  @include mq($width-desktop) {
    padding: 0 149px;
  }
}

.modeling-hero__title {
  margin-top: 20px;
  margin-bottom: 16px;

  @include mq($width-tablet) {
      margin-top: 14px;
    }

  @include mq($width-desktop) {
  margin-top: 60px;
  margin-bottom: 24px;}
}

.modeling-hero__box {

  @include mq($width-desktop) {
  display: flex;
  }
}

.modeling-hero__description {
  width: 100%;
  max-width: 440px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.27;

  &:not(:last-child) {
      margin-bottom: 16px;
    }

  @include mq($width-tablet) {
    max-width: 515px;
    }

  @include mq($width-desktop) {
    margin-bottom: 0;
    font-size: 18px;
  &:not(:last-child) {
      margin-right: 72px;
    }
  }
}


