<div class="container">
  <h2 class="model__title">ми створюємо</h2>
  <ul class="model__list list">
    <li class="model__item item">
      <div class="card-thumb">
        <picture>
          <source
            srcset="
              ./images/print/desktop/prototype.png    1x,
              ./images/print/desktop/prototype@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/prototype.png    1x,
              ./images/print/tablet/prototype@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/prototype.png    1x,
              ./images/print/mobile/prototype@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="model__picture"
            src="./images/print/mobile/prototype.png"
            alt="Прототип"
          />
        </picture>
        <div class="model__content">
          <p class="content__title">прототипи</p>
        </div>
      </div>
    </li>
    <li class="model__item item">
      <div class="card-thumb">
        <picture>
          <source
            srcset="
              ./images/print/desktop/maquette.png    1x,
              ./images/print/desktop/maquette@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/maquette.png    1x,
              ./images/print/tablet/maquette@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/maquette.png    1x,
              ./images/print/mobile/maquette@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="model__picture"
            src="./images/print/mobile/maquette.png"
            alt="Прототип"
          />
        </picture>
        <div class="model__content">
          <p class="content__title">макети</p>
        </div>
      </div>
    </li>

    <li class="model__item item">
      <div class="card-thumb">
        <picture>
          <source
            srcset="
              ./images/print/desktop/decor.png    1x,
              ./images/print/desktop/decor@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/decor.png    1x,
              ./images/print/tablet/decor@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/decor.png    1x,
              ./images/print/mobile/decor@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="model__picture"
            src="./images/print/mobile/decor.png"
            alt="Прототип"
          />
        </picture>
        <div class="model__content">
          <p class="content__title">декор</p>
        </div>
      </div>
    </li>
    <li class="model__item item">
      <div class="card-thumb">
        <picture>
          <source
            srcset="
              ./images/print/desktop/3d-coub.png    1x,
              ./images/print/desktop/3d-coub@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/3d-coub.png    1x,
              ./images/print/tablet/3d-coub@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/3d-coub.png    1x,
              ./images/print/mobile/3d-coub@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="model__picture"
            src="./images/print/mobile/3d-coub.png"
            alt="Прототип"
          />
        </picture>
        <div class="model__content">
          <p class="content__title">корпоративний дизайн</p>
        </div>
      </div>
    </li>
  </ul>
</div>
