<section>
  <div class="container contacts-container">
    <h2 class="contacts__title title">Контакти</h2>
    <article class="article__hero">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hrv0sDACB7M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="hero-video"
      ></iframe>
      <p class="hero-description">
        <span class="print-features">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </span>
        <span class="print-features">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </span>

        <span class="print-features">
          Приємного перегляду!
          <picture>
            <source
              srcset="
                ./images/contacts/desktop/emoji.png    1x,
                ./images/contacts/desktop/emoji@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/contacts/tablet/emoji.png    1x,
                ./images/contacts/tablet/emoji@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/contacts/mobile/emoji.png    1x,
                ./images/contacts/mobile/emoji@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/contacts/mobile/emoji.png"
              alt=":)"
              class="print-features__emoji"
            />
          </picture>
        </span>
      </p>
    </article>
  </div>
</section>
