<section class="contacts-info">
  <div class="container container-info">
    <ul>
      <li class="info__item">
        <p class="info__tel">телефони</p>
        <a class="info__link" href="tel:+380957384551">+38 (095) -73-84-551</a>
        <a class="info__link" href="tel:+380980025235">+38 (098) -00-25-235</a>
      </li>
      <li class="info__item">
        <p class="info__email">Email</p>
        <a class="info__email__link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </li>
    </ul>
    <div class="schedule">
      <p class="info__schedule">Робочий час</p>
      <ul>
        <li class="info__days">
          <p>Пн-пт:</p>
          <p>З 8:00 до 19:00</p>
        </li>
        <li class="info__days">
          <p>Сб, Нд:</p>
          <p>З 10:00 до 17:00</p>
        </li>
      </ul>
    </div>
  </div>
</section>
