<section class="page-contacts">
  <div class="container">
    <h2 class="contacts__title">Контакти</h2>
    <article>
      <p>
        <span class="print-features">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </span>
        <span class="print-features">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </span>
        <span class="print-features"> Приємного перегляду! </span>
      </p>
    </article>
  </div>
</section>
