<section class="contacts-info">
  <div class="container">
    <ul>
      <li>
        <p class="info-tel">телефони</p>
        <a href="tel:+380957384551">+38 (095) -73-84-551</a>
        <a href="tel:+380980025235">+38 (098) -00-25-235</a>
      </li>
      <li>
        <p class="info-email">Email</p>
        <a href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
      </li>
    </ul>
    <div class="schedule">
      <p class="schedule__description">Робочий час</p>
      <ul>
        <li>
          <p class="schedule__days">Пн-пт: з 8:00 до 19:00</p>
        </li>
        <li>
          <p class="schedule__days">Сб, Нд: з 10:00 до 17:00</p>
        </li>
      </ul>
    </div>
  </div>
</section>
