<section class="contacts-form">
  <div class="container">
    <h2 class="visually-hidden">зворотній зв'язок</h2>
    <form class="contacts-form">
      <div class="form__thumb">
        <p class="form_title">зв'яжіться з нами</p>
        <label for="name"> Ім'я </label>
        <input type="text" name="name" id="name" placeholder="Олексій" />
        <label for="email"> Ім'я </label>
        <input type="email" name="email" id="email" placeholder="Email" />
        <label for="comment">Повідомлення</label>
        <div class="comment-area">
          <textarea
            name="comment"
            id="comment"
            placeholder="Залишіть своє повідомлення"
          ></textarea>
        </div>
        <p class="add-file">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
        <button type="submit">ВІДПРАВИТИ</button>
      </div>
    </form>
  </div>
</section>
