<section class=“section”>
    <div class=“container”>
      <h2 class=“section__title”>ПРОЦЕС 3D СКАНУВАННЯ</h2>
      <ul class=“scan-list”>
        <li class=“scan-list__item”>
          <div class=“scan-list__canvas”>
            <p class=“scan-list__descr”>Підготовка деталі до сканування</p>
          </div>
        </li>
        <li class=“scan-list__item”>
          <div class=“scan-list__canvas”>
            <p сlass=“scan-list__descr”>Підготовка деталі до сканування</p>
          </div>
        </li>
        <li class=“scan-list__item”>
          <div class=“scan-list__canvas”>
            <p сlass=“scan-list__descr”>Підготовка деталі до сканування</p>
          </div>
        </li>
        <li class=“scan-list__item”>
          <div class=“scan-list__canvas”>
            <p сlass=“scan-list__descr”>Підготовка деталі до сканування</p>
          </div>
        </li>
      </ul>
    </div>
  </section>