<section class="scanning-section">
  <div class="container">
    <h2 class="scanning-section__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scan-list">
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <h3 class="scan-list__title">Підготовка деталі до сканування</h3>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <h3 class="scan-list__title">Створення сканів і їх обробка</h3>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <h3 class="scan-list__title">Перетворення reverse engineering</h3>
        </div>
      </li>
      <li class="scan-list__item">
        <div class="scan-list__canvas">
          <h3 class="scan-list__title">Підготовка моделі до друку</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="scanning-section__btn">
  <div class="container">
    <a href="./order.html" class="buttons-link">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
  </div>
</div>
