<section class="order-form">
  <div class="container">
    <h2 class="visually-hidden">зворотній зв'язок</h2>
    <form class="form">
      <div class="form__thumb">
        <p class="form__title">зв'яжіться з нами</p>
        <div class="form__field">
          <input
            type="text"
            class="form__input"
            name="name"
            id="name"
            placeholder=" "
          />
          <label for="name" class="form__label">Ім'я</label>
        </div>

        <div class="form__field">
          <input
            type="email"
            class="form__input"
            name="email"
            id="email"
            placeholder=" "
          />
          <label for="email" class="form__label">Email</label>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-plastic"
            class="form__input form__list"
            name="plastics"
            id="plastics"
          />
          <label for="plastics" class="form__label--selective"
            >Види пластику</label
          >
          <datalist id="types-plastic">
            <option>Поліетилен</option>
            <option>Поліпропілен</option>
            <option>Полістирол</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-quality"
            class="form__input form__list"
            name="quality"
            id="quality"
          />
          <label for="print-quality" class="form__label--selective"
            >Якість друку</label
          >
          <datalist id="types-quality">
            <option>300 мікрон</option>
            <option>200 мікрон</option>
            <option>100 мікрон</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-colour"
            class="form__input form__list"
            name="colour"
            id="colour"
          />
          <label for="colour" class="form__label--selective">Колір</label>
          <datalist id="types-colour">
            <option>Червоний</option>
            <option>Зелений</option>
            <option>Синій</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <label for="comment" class="comment__label">Повідомлення</label>
        <div class="comment__area">
          <textarea
            class="comment__text"
            name="comment"
            id="comment"
            placeholder="Залишіть своє повідомлення"
          ></textarea>

          <div>
            <input
              class="comment__upload visually-hidden"
              type="file"
              id="file"
              name="file"
              multiple
            />
            <label for="file">
              <svg class="comment__icon" width="22" height="22">
                <use href="./images/icons.svg#icon-paper-clip"></use></svg
            ></label>
          </div>
        </div>

        <p class="comment__add-file">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
        <button class="button-link" type="submit">ВІДПРАВИТИ</button>
      </div>
    </form>
  </div>
</section>
