      <section class="section order-hero">
        <div class="order-hero__container container">
          <h1 class="order-hero__title">Зробити замовлення</h1>
          <div class="order-hero__wrap">
            <div class="order-hero__bg"></div>
            <ul class="order-hero__list">
              <li class="order-hero__ad">
                На цій сторінці ви можете зробити замовлення заповнивши форму і
                ми зв'яжемося з вами.
              </li>
              <li class="order-hero__ad">
                Наші фахівці допоможуть підібрати оптимальні для вас параметри і
                дадуть відповідь на всі ваші запитання.
              </li>
            </ul>
          </div>
          <ul class="order-hero__galary">
      <li class="order-hero__item">
        <picture>
          <source
            srcset="
              ./images/order/desktop/mozjpeg/order-img-1.jpg 1x,
              ./images/order/desktop/mozjpeg/order-img-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            />
          <img
            
            src="./images/order/desktop/mozjpeg/order-img-1.jpg"
            alt="Aвто"
          />
        </picture>
      </li>
      <li class="order-hero__item">
        <picture>
          <source
            srcset="
              ./images/order/desktop/mozjpeg/order-img-2.jpg 1x,
              ./images/order/desktop/mozjpeg/order-img-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
         <img
            
            src="./images/order/desktop/mozjpeg/order-img-2.jpg"
            alt="Девайс"
          />
        </picture>
      </li>
      <li class="order-hero__item">
        <picture>
          <source
            srcset="
              ./images/order/desktop/mozjpeg/order-img-3.jpg 1x,
              ./images/order/desktop/mozjpeg/order-img-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"           
          />          
          <img
            
            src="./images/order/desktop/mozjpeg/order-img-3.jpg"
            alt="Світильник"
          />
        </picture>
      </li>
    </ul>


        </div>



      </section>
    </main>
  </body>
</html>
