<section>
  <div class="order-form__container container">
    <h2 class="visually-hidden">зворотній зв'язок</h2>
    <form class="order-form">
      <div class="form__thumb">
        <p class="order-form__title">зв'яжіться з нами</p>
        <div class="form__field">
          <input
            type="text"
            class="form__input"
            name="name"
            id="name"
            placeholder="&nbsp"
            required
          />
          <label for="name" class="form__label--main">Ім'я</label>
        </div>

        <div class="form__field">
          <input
            type="email"
            class="form__input"
            name="email"
            id="email"
            placeholder="&nbsp"
            required
          />
          <label for="email" class="form__label--main">Email</label>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-plastic"
            class="form__input form__list"
            name="plastics"
            id="plastics"
            placeholder="Види пластику"
          />
          <label for="plastics" class="form__label--selective"></label>
          <datalist id="types-plastic">
            <option>Поліетилен</option>
            <option>Поліпропілен</option>
            <option>Полістирол</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-quality"
            class="form__input form__list"
            name="quality"
            id="quality"
            placeholder="Якість друку"
          />
          <label for="print-quality" class="form__label--selective"></label>
          <datalist id="types-quality">
            <option>300 мікрон</option>
            <option>200 мікрон</option>
            <option>100 мікрон</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <div class="form__field">
          <input
            type="text"
            list="types-colour"
            class="form__input form__list"
            name="colour"
            id="colour"
            placeholder="Колір"
          />
          <label for="colour" class="form__label--selective"></label>
          <datalist id="types-colour">
            <option>Червоний</option>
            <option>Зелений</option>
            <option>Синій</option>
            <option>Труднощі у виборі - ми допоможемо</option>
          </datalist>
        </div>

        <label for="comment" class="comment__label--main">Повідомлення</label>
        <div class="comment__area--main">
          <textarea
            class="comment__text--main"
            name="comment"
            id="comment"
            placeholder="Залишіть своє повідомлення"
          ></textarea>

          <div>
            <input
              class="comment__upload visually-hidden"
              type="file"
              id="file"
              name="file"
              multiple
            />
            <label for="file">
              <svg class="comment__icon--main" width="22" height="22">
                <use href="./images/icons.svg#icon-paper-clip"></use></svg            ></label>
          </div>
        </div>

        <p class="comment__add-file--main">
          *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
        </p>
        <button class="buttons-link order-btn" type="submit">ВІДПРАВИТИ</button>
      </div>
    </form>

    <div class="desktop-info">
      <ul>
        <li class="desktop-info__item">
          <p class="desktop-info__tel">телефони</p>
          <a class="desktop-info__link" href="tel:+380957384551"
            >+38 (095) -73-84-551</a
          >
          <a class="desktop-info__link" href="tel:+380980025235"
            >+38 (098) -00-25-235</a
          >
        </li>
        <li class="desktop-info__item">
          <p class="desktop-info__email">Email</p>
          <a
            class="desktop-info__email__link"
            href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
          >
        </li>
      </ul>
      <div class="schedule">
        <p class="desktop-info__schedule">Робочий час</p>
        <ul>
          <li class="desktop-info__days">Пн-пт: з 8:00 до 19:00</li>
          <li class="desktop-info__days">Сб, Нд: з 10:00 до 17:00</li>
        </ul>
      </div>
    </div>

    <div class="order-form__overlay"></div>

    <div class="mobile-tablet-info">
      <ul class="mobile-tablet-info-list">
        <li class="mobile-tablet-info__item">
          <p class="mobile-tablet-info__tel">телефони</p>
          <a class="mobile-tablet-info__link" href="tel:+380957384551"
            >+38 (095) -73-84-551</a
          >
          <a class="mobile-tablet-info__link" href="tel:+380980025235"
            >+38 (098) -00-25-235</a
          >
        </li>
        <li class="mobile-tablet-info__item">
          <p class="mobile-tablet-info__email">Email</p>
          <a
            class="mobile-tablet-info__email__link"
            href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
          >
        </li>
      </ul>
      <div>
        <p class="mobile-tablet-info__schedule">Робочий час</p>
        <ul>
          <li class="mobile-tablet-info__days">
            <p>Пн-пт:</p>
            <p>З 8:00 до 19:00</p>
          </li>
          <li class="mobile-tablet-info__days">
            <p>Сб, Нд:</p>
            <p>З 10:00 до 17:00</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
