      <section class="section order-hero">
        <div class="order-hero__container container">
          <h1 class="order-hero__title">Зробити замовлення</h1>
          <div class="order-hero__wrap">
            <div class="order-hero__bg"></div>
            <ul class="order-hero__list">
              <li class="order-hero__ad">
                На цій сторінці ви можете зробити замовлення заповнивши форму і
                ми зв'яжемося з вами.
              </li>
              <li class="order-hero__ad">
                Наші фахівці допоможуть підібрати оптимальні для вас параметри і
                дадуть відповідь на всі ваші запитання.
              </li>
            </ul>
          </div>
          
          <ul class="order-hero__galary">
            <li class="order-hero__item">
              <div class="order-hero__picture order-hero__picture--first"></div>
        
            </li>
            <li class="order-hero__item">
              <div class="order-hero__picture order-hero__picture--second"></div>
        
            </li>
            <li class="order-hero__item">
              <div class="order-hero__picture order-hero__picture--last"></div>
        
            </li>
          </ul>

        </div>

      </section>
    </main>
  </body>
</html>
