<header class="page-header">
  <div class="container page-header__container">
    <a href="./index.html" class="logo page-header__logo">
      <picture>
        <source
          srcset="
            ./images/logo/browser-png/logo_192x48.png     1x,
            ./images/logo/browser-png/logo_192x48.@2x.png 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./images/logo/browser-png/logo_125x31.png    1x,
            ./images/logo/browser-png/logo_125x31@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/logo/browser-png/logo_101x25.png    1x,
            ./images/logo/browser-png/logo_101x25@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/logo/browser-png/logo_192x48.@2x.png"
          alt="3D Freedom"
        />
      </picture>
    </a>

    <nav class="page-nav is-hidden">
      <ul class="page-nav__list">
        <li class="page-nav__item">
          <a href="" class="page-nav__link page-nav__link--current">ГОЛОВНА</a>
        </li>
        <li class="page-nav__item dropdown page-nav__dropdown">
          <div class="dropdown__heading" tabindex="0">ПОСЛУГИ</div>

          <ul class="dropdown__list">
            <li class="page-nav__item">
              <a href="" class="page-nav__link marked">3D Моделювання</a>
            </li>
            <li class="page-nav__item">
              <a href="" class="page-nav__link marked">3D Сканування</a>
            </li>
            <li class="page-nav__item">
              <a href="" class="page-nav__link marked">3D Друк</a>
            </li>
          </ul>
        </li>

        <li class="page-nav__item">
          <a href="" class="page-nav__link">ЗАМОВИТИ</a>
        </li>
        <li class="page-nav__item">
          <a href="" class="page-nav__link">КОНТАКТИ</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="burger">
      <span class="burger__stroke"></span>
    </button>

    <div class="page-header__right-block">
      <!-- <img src="images/icons/phone.svg" width="24" alt="" /> -->
      <div class="phones">
        <svg
          width="24"
          height="24"
          class="phones__button phones__icon"
          tabindex="0"
        >
          <use href="images/icons/icons.svg#phone"></use>
        </svg>
        <div class="phones__popup">
          <svg width="28" height="19" class="phones__popup-arrow">
            <use href="images/icons/icons.svg#popup-arrow"></use>
          </svg>
          <ul class="phones__list">
            <li class="phones__item">
              <a href="tel:+380936432288" class="phones__link">
                <svg width="24" height="24" class="phones__icon">
                  <use href="images/icons/icons.svg#phone"></use>
                </svg>
                +38 (093) 643 22 88
              </a>
            </li>
            <li class="phones__item">
              <a href="tel:+380936432288" class="phones__link"
                ><svg width="24" height="24" class="phones__icon">
                  <use href="images/icons/icons.svg#phone"></use>
                </svg>
                +38 (050) 345 44 23
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <span class="lang" tabindex="0">ENG</span> -->
      <select class="lang" name="lang">
        <option value="ukr" selected>UKR</option>
        <option value="eng">ENG</option>
        <option value="UKR">UKR</option>
      </select>
    </div>
  </div>
  <script src="./js/nav-menu.js"></script>
</header>
