.contacts-container {
  padding-top: 20px;
  padding-bottom: 40px;

  @include mq($width-tablet) {
    padding-top: 24px;
  }

  @include mq($width-desktop) {
    padding: 60px 149px 100px;
  }
}

.contacts__title {
  text-transform: uppercase;
  color: getColor('title-text');
  margin-bottom: 16px;
  @include mq($width-desktop) {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

.article__hero {
  @include mq($width-tablet) {
    display: flex;
  }
}

.hero-video {
  margin-bottom: 16px;
  width: 100%;
  height: 171px;
  border-radius: 15px;
  @include mq($width-tablet) {
    width: 336px;
    height: 261px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  @include mq($width-desktop) {
    width: 555px;
    max-width: 555px;
    height: 315px;
  }
}

.print-features {
  display: block;
  @include mq($width-tablet) {
    line-height: 1.25;
  }
  @include mq($width-desktop) {
    max-width: 515px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.28;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
    @include mq($width-desktop) {
      margin-bottom: 24px;
    }
  }
  &:last-child {
    display: flex;
    @include mq($width-desktop) {
      flex-direction: column;
    }
  }
  &__emoji {
    margin-left: 8px;
    @include mq($width-desktop) {
      margin-left: 0;
      margin-top: 56px;
    }
  }
}

.form {
  @include mq($width-tablet) {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
  }
  @include mq($width-desktop) {
    width: 555px;
  }
}
.form__field {
  position: relative;
}
.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: map-get($colors, 'title-text');
  text-transform: uppercase;
  margin-bottom: 28px;
  @include mq($width-tablet) {
    margin-bottom: 35px;
    text-align: center;
    font-size: 24px;
    line-height: 1.25;
  }
  @include mq($width-desktop) {
    font-size: 36px;
    text-align: left;
    margin-bottom: 44px;
  }
}

.form__label {
  position: absolute;
  font-size: 16px;
  line-height: 1.43;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq($width-tablet) {
    display: block;
    margin-bottom: 8px;
  }
  @include mq($width-desktop) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.form__input {
  @include mq($width-desktop) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.form__input:focus + .form__label {
  transform: translateY(-20px);
  font-size: 14px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-20px);
  font-size: 14px;
}
//комментарий

.form__comment {
  margin-bottom: 4px;
}
.comment__label {
  display: block;
  margin-bottom: 4px;
  line-height: 1.25;
  text-transform: capitalize;
  @include mq($width-desktop) {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.11;
  }
}
.comment__area {
  position: relative;
  width: 100%;
}
.comment__text {
  resize: none;
  padding: 22px 20px;
  width: 100%;
  height: 199px;
  border: 1px solid map-get($colors, 'title-text');
  border-radius: 50px 0px;
  outline: transparent;
  background-color: transparent;
  &::placeholder {
    color: #cdcdcd;
    @include mq($width-desktop) {
      font-size: 18px;
      line-height: 1.11;
    }
  }
}
.comment__icon {
  position: absolute;
  bottom: 18px;
  right: 18px;
  fill: #cdcdcd;

  @include mq($width-desktop) {
    right: 61px;
  }
}

.comment__add-file {
  line-height: 1.25;
  color: #cdcdcd;
  margin-bottom: 40px;
  @include mq($width-desktop) {
    font-size: 18px;
    line-height: 1.11;
  }
}
.contacts-btn {
  border: transparent;
  @include mq($width-tablet) {
    margin-right: 0;
  }
}

///////// contacts
.container-info {
  padding-top: 60px;
  padding-bottom: 60px;
  @include mq($width-tablet) {
    display: flex;
    justify-content: space-between;
  }
  @include mq($width-desktop) {
    display: block;
    padding: 0;
  }
}

.info-list {
  @include mq($width-tablet) {
    display: flex;
  }
  @include mq($width-desktop) {
    display: block;
  }
}

.info {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    @include mq($width-tablet) {
      margin-bottom: 0;
      min-width: 184px;
    }
    @include mq($width-desktop) {
      margin-bottom: 68px;
    }
  }
  &__tel,
  &__email,
  &__schedule {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    color: map-get($colors, 'title-text');
    margin-bottom: 8px;
    @include mq($width-tablet) {
      font-size: 24px;
      line-height: 1.25;
    }
    @include mq($width-desktop) {
      font-size: 36px;
      margin-bottom: 18px;
    }
  }

  &__email__link {
    line-height: 1.25;
    @include mq($width-desktop) {
      font-size: 18px;
      line-height: 1.11;
    }
  }
  &__tel,
  &__schedule {
    text-transform: uppercase;
  }
  &__link,
  &__days {
    margin-bottom: 8px;
    line-height: 1.25;
    text-transform: capitalize;
    @include mq($width-desktop) {
      margin-bottom: 18px;
      font-size: 18px;
      line-height: 1.11;
    }
  }
  &__days {
    @include mq($width-tablet) {
      text-align: right;
      @include mq($width-desktop) {
        text-align: left;
        display: flex;
      }
    }
  }
  &__link:last-child {
    margin-bottom: 0;
  }
  &__days:last-child {
    margin-bottom: 0;
  }
}
.form__revers {
  padding: 0;
  @include mq($width-desktop) {
    padding-bottom: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
.container-form {
  @include mq($width-desktop) {
    padding: 0;
  }
}
