.contacts-container {
  padding-bottom: 40px;
  padding-top: 20px;
}

.contacts__title {
  text-transform: uppercase;
  color: map-get($colors, 'title-text');
  margin-bottom: 16px;
}
.hero-video {
  margin-bottom: 16px;
}

.print-features {
  display: block;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  &:last-child {
    display: flex;
  }
  &__emoji {
    margin-left: 8px;
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: map-get($colors, 'title-text');
  text-transform: uppercase;
  margin-bottom: 8px;
}
label {
  font-size: 14px;
  line-height: 1.43;
}
.form__input {
  display: block;
  line-height: 1.25;
  width: 100%;
  border: transparent;
  border-bottom: 1px solid map-get($colors, 'title-text');
  margin-bottom: 44px;
}
.form__input:last-child {
  margin-bottom: 48px;
}
///////// contacts
.container-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

.info {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  &__tel,
  &__email,
  &__schedule {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    color: map-get($colors, 'title-text');
    margin-bottom: 8px;
  }
  &__email__link {
    line-height: 1.25;
  }
  &__tel {
    text-transform: uppercase;
  }
  &__link,
  &__days {
    margin-bottom: 8px;
    line-height: 1.25;
  }
  &__link:last-child {
    margin-bottom: 0;
  }
  &__days:last-child {
    margin-bottom: 0;
  }
}
.hero-video {
  max-width: 100%;
}
// .page-header,
// .footer {
//   display: none;
// }
