.main-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 962px;
    background-image: url('../images/decor/tablet/bg-main-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-main-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1728px;
    background-image: url('../images/decor/desktop/bg-main-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-main-des-2x.jpg');
    }
  }
}

.modeling-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 928px;
    background-image: url('../images/decor/tablet/bg-modeling-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-modeling-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1600px;
    background-image: url('../images/decor/desktop/bg-modeling-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-modeling-des-2x.jpg');
    }
  }
}

.scanning-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 928px;
    background-image: url('../images/decor/tablet/bg-modeling-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-modeling-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1600px;
    background-image: url('../images/decor/desktop/bg-scanning-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-scanning-des-2x.jpg');
    }
  }
}

.printing-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 928px;
    background-image: url('../images/decor/tablet/bg-modeling-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-modeling-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1600px;
    background-image: url('../images/decor/desktop/bg-printing-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-printing-des-2x.jpg');
    }
  }
}

.order-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 928px;
    background-image: url('../images/decor/tablet/bg-order-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-order-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1600px;
    background-image: url('../images/decor/desktop/bg-order-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-order-des-2x.jpg');
    }
  }
}

.contacts-decor {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 524px;

  background-image: url('../images/decor/mobile/bg-mob.jpg');

  @include retina() {
    background-image: url('../images/decor/mobile/bg-mob-2x.jpg');
  }

  @include mq($width-tablet) {
    background-size: 928px;
    background-image: url('../images/decor/tablet/bg-contact-tab.jpg');

    @include retina() {
      background-image: url('../images/decor/tablet/bg-contact-tab-2x.jpg');
    }
  }

  @include mq($width-desktop) {
    background-size: 1600px;
    background-image: url('../images/decor/desktop/bg-contact-des.jpg');

    @include retina() {
      background-image: url('../images/decor/desktop/bg-contact-des-2x.jpg');
    }
  }
}

.mob-nav {
  @extend .main-decor;
  @include mq($width-desktop) {
    background: none;
  }
}

.main-block {
  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/main-block.jpg');
    position: absolute;
    width: 144px;
    height: 144px;
    top: 1470px;
    right: 95px;
    top: -32px;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    @include retina() {
      background-image: url('../images/decor/desktop/main-block-2x.jpg');
    }
  }
}