.main-decor {
  background-image: url('../images/decor/mobile/decor-main-mob.jpg');
  background-repeat: no-repeat;
  background-position: top;


  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url('../images/decor/mobile/decor-main-mob-2x.jpg');
    }
  }

  @include mq($width-tablet) {
    background-image: url('../images/decor/tablet/decor-main-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/tablet/decor-main-tab-2x.jpg');
      }
    }
  }

  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/decor-main.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/desktop/decor-main-2x.jpg');
      }
    }
  }
}

.common-decor {
  background-image: url('../images/decor/mobile/decor-common-mob.jpg');
    background-repeat: no-repeat;
    background-position: top;
  
  
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/mobile/decor-common-mob.jpg');
      }
    }
  
    @include mq($width-tablet) {
      background-image: url('../images/decor/tablet/decor-common-tab.jpg');
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        & {
          background-image: url('../images/decor/tablet/decor-common-tab-2x.jpg');
        }
      }
    }
  
    @include mq($width-desktop) {
      background-image: url('../images/decor/desktop/decor-common.jpg');
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        & {
          background-image: url('../images/decor/desktop/decor-common-2x.jpg');
        }
      }
    }
}

.scanning-decor {
  background-image: url('../images/decor/mobile/decor-common-mob.jpg');
  background-repeat: no-repeat;
  background-position: top;


  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url('../images/decor/mobile/decor-common-mob.jpg');
    }
  }

  @include mq($width-tablet) {
    background-image: url('../images/decor/tablet/decor-common-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/tablet/decor-common-tab-2x.jpg');
      }
    }
  }

  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/decor-scanning.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/desktop/decor-scanning-2x.jpg');
      }
    }
  }
}

.printing-decor {
  background-image: url('../images/decor/mobile/decor-common-mob.jpg');
  background-repeat: no-repeat;
  background-position: top;


  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url('../images/decor/mobile/decor-common-mob.jpg');
    }
  }

  @include mq($width-tablet) {
    background-image: url('../images/decor/tablet/decor-common-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/tablet/decor-common-tab-2x.jpg');
      }
    }
  }

  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/decor-printing.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/desktop/decor-printing-2x.jpg');
      }
    }
  }
}

.order-decor {
  background-image: url('../images/decor/mobile/decor-common-mob.jpg');
  background-repeat: no-repeat;
  background-position: top;


  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url('../images/decor/mobile/decor-common-mob.jpg');
    }
  }

  @include mq($width-tablet) {
    background-image: url('../images/decor/tablet/decor-common-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/tablet/decor-common-tab-2x.jpg');
      }
    }
  }

  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/decor-order.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/desktop/decor-order-2x.jpg');
      }
    }
  }
}

.contacts-decor {
  background-image: url('../images/decor/mobile/decor-common-mob.jpg');
  background-repeat: no-repeat;
  background-position: top;


  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    & {
      background-image: url('../images/decor/mobile/decor-common-mob.jpg');
    }
  }

  @include mq($width-tablet) {
    background-image: url('../images/decor/tablet/decor-common-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/tablet/decor-common-tab-2x.jpg');
      }
    }
  }

  @include mq($width-desktop) {
    background-image: url('../images/decor/desktop/decor-contacts.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      & {
        background-image: url('../images/decor/desktop/decor-contacts-2x.jpg');
      }
    }
  }
}

