.more-photos {
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 156px;
  }
}

.more-photos__container {
  position: relative;
  @include mq($width-desktop) {
    padding: 0 117px;
  }
}

.more-photos__title {
  color: getColor('title-text');
  margin-bottom: 16px;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    @include font2(24px, 1.25, 700, null);
  }

  @media screen and (min-width: 768px) {
    @include font2(36px, 1.25, 700, null);
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    @include font2(48px, 1.25, 700, null);
    margin-bottom: 60px;
  }
}

.more-photos__list {
  display: grid;
  gap: 16px;

  @include mq($width-tablet) {
    gap: 32px;
    // grid-auto-flow: dense;
    grid-template-columns: repeat(8, minmax(20px, 1fr));
  }

  @include mq($width-desktop) {
    grid-template-columns: repeat(10, minmax(20px, 1fr));
  }
}

.more-photos__item {
  display: grid;
  place-content: center;

  @include mq($width-tablet) {
    grid-column: span 3;

    &:nth-child(6n + 3),
    &:nth-child(6n + 4) {
      grid-column: span 2;
    }
  }

  @include mq($width-desktop) {
    grid-column: span 4;
  }
}

// RESPONSIVE FOR MOR PHOTOS
@media screen and (max-width: 767px) {
  .gallary__image {
    width: calc(100%);
      max-width: 440px;
  }
  .more-photos__item {
    place-content: normal;
  }
}

// .more-photos__list {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   gap: 16px;
//   .more-photos__item {
//     // width: 280px;
//     @media screen and (min-width: 768px) {
//       width: calc((100% - 32px) / 3);
//     }
//     @media screen and (min-width: 1200px) {
//       width: calc((100% - 32px) / 3);
//     }
//   }
// }
