.order-form__container {
  padding-bottom: 60px;
  @include mq($width-desktop) {
    padding-bottom: 0;
  }
}

.order-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;
  color: map-get($colors, 'title-text');
  margin-bottom: 28px;

  text-transform: uppercase;

  @include mq($width-tablet) {
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 35px;
  }
  @include mq($width-desktop) {
    font-size: 36px;
    text-align: start;
    margin-bottom: 44px;
  }
}

.order-form {

  @include mq($width-tablet) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq($width-desktop) {
    max-width: 555px;
    margin-left: 0;
    padding-bottom: 80px;
  }
}

.form__field {
  position: relative;
}

.form__label--main,
.form__label--selective {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mq($width-desktop) {
    font-size: 18px;
    left: 1.11;
  }
}

.form__input:focus + .form__label--main,
.form__input:not(:placeholder-shown) + .form__label--main {
  transform: translateY(-20px);
  font-size: 14px;
}

.form__list::-webkit-calendar-picker-indicator {
  opacity: 1;
}

// .order-dropdown {
//   position: relative;
// }

// .order-dropdown__heading {
//   position: relative;
//   z-index: 1;

//   cursor: default;
//   text-transform: uppercase;

//   @include mq($width-desktop) {
//     margin-bottom: 0;
//     padding: 10px;
//     text-transform: none;
//     &::after {
//       content: '';
//       position: absolute;
//       right: -4px;
//       top: 50%;
//       width: 0;
//       height: 0;
//       border-style: solid;
//       border-width: 3px 4px 0 4px;
//       border-color: #007bff transparent transparent transparent;
//       @include animate(transform);
//     }
//     &.is-dropdown::after {
//       transform: rotateX(180deg);
//     }
//   }
// }

// .order-dropdown__list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 24px;

//   overflow: hidden;
//   max-height: 250px; // Не менее высоты контента
//   @include animate(max-height visibility margin-top);

//   @include mq($width-desktop) {
//     position: absolute;
//     z-index: 0;
//     left: 50%;
//     top: 0;
//     transform: translate(-50%, -16px);

//     gap: 0;
//     min-width: max-content;
//     padding: 35px 6px 10px;

//     background-color: #ffffff;
//     box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
//     border-radius: 0 0 50% 50%;

//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;

//     @include animate(transform opacity box-shadow visibility);
//   }
// }

// .__sublink {
//   @include mq($width-desktop) {
//     padding: 2px 0;
//   }
// }

// .is-dropdown + .dropdown__list {
//   margin-top: 24px;
//   @include mq($width-desktop) {
//     transform: translate(-50%, -2px);
//     margin-top: 0;
//     opacity: 1;
//     visibility: visible;
//     pointer-events: all;
//   }
// }

// :not(.is-dropdown) + .dropdown__list {
//   @include mq($until: $width-desktop) {
//     max-height: 0px;
//     visibility: hidden;
//   }
// }

// .form__list::-webkit-color-swatch-wrapper {
//   border: 2px solid red;
// }

// input:-webkit-autofill {
//   -webkit-box-shadow: inset 0 0 0 50px #48799680 !important;
// }

// .form__list::-webkit-text-fill-color {
//   color: #48799680;
// }

// input::-webkit-calendar-picker-indicator {
//   -webkit-appearance: none;
// }

.form__input {
  display: block;
  margin-bottom: 44px;
  width: 100%;
  line-height: 1.25;
  outline: transparent;

  color: map-get($colors, 'primary-text');

  border: transparent;
  border-bottom: 1px solid map-get($colors, 'title-text');

  &::placeholder {
    color: map-get($colors, 'primary-text');
  }
}

.comment__label--main {
  display: block;
  line-height: 1.25;
  text-transform: capitalize;
  margin-bottom: 4px;
  @include mq($width-desktop) {
    font-size: 18px;
    left: 1.11;
  }
}

.comment__area--main {
  position: relative;
  background-color: transparent;
  width: 100%;
}

.comment__text--main {
  background-color: transparent;

  width: 100%;
  height: 199px;
  resize: none;

  padding: 22px 20px;

  outline: none;
  border: 1px solid map-get($colors, 'title-text');
  border-radius: 50px 0px;

  &::placeholder {
    color: getColor('icon-color');
    @include mq($width-desktop) {
      font-size: 18px;
      left: 1.11;
    }
  }
}

.comment__icon--main {
  position: absolute;
  bottom: 18px;
  right: 18px;
  cursor: pointer;

  fill: getColor('icon-color');
}

.comment__add-file {
  margin-top: 4px;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: calc(20 / 16);
  color: #cdcdcd;

  @include mq($width-desktop) {
    font-size: 18px;
    left: 1.11;
  }
}

.order-button-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: getColor('title-text');
  padding: 16px 32px;
  background: getColor('background');
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  width: 280px;
  height: 56px;
  border-color: transparent;

  @include mq($width-tablet) {
    margin-right: 0;
    width: 177px;
  }
}

.desktop-info {
  @media screen and (max-width: $width-desktop) {
    display: none;
  }
}

// .mobile-tablet-info {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   @include mq($width-tablet) {
//     display: flex;
//     justify-content: space-between;
//   }

//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }

// .mobile-tablet-info-list {
//   @include mq($width-tablet) {
//     display: flex;
//   }
// }

// .mobile-tablet-info {
//   &__item {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 25px;
//     @include mq($width-tablet) {
//       margin-bottom: 0;
//       min-width: 184px;
//     }
//   }
//   &__tel,
//   &__email,
//   &__schedule {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 1.28;
//     color: map-get($colors, 'title-text');
//     margin-bottom: 8px;
//     @include mq($width-tablet) {
//       font-size: 24px;
//       line-height: 1.25;
//     }
//   }

//   &__email__link {
//     line-height: 1.25;
//   }
//   &__tel,
//   &__schedule {
//     text-transform: uppercase;
//   }
//   &__link,
//   &__days {
//     margin-bottom: 8px;
//     line-height: 1.25;
//     text-transform: capitalize;
//   }
//   &__days {
//     @include mq($width-tablet) {
//       text-align: right;
//     }
//   }
//   &__link:last-child {
//     margin-bottom: 0;
//   }
//   &__days:last-child {
//     margin-bottom: 0;
//   }
// }

.desktop-info {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__tel,
  &__email,
  &__schedule {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: map-get($colors, 'title-text');
    margin-bottom: 18px;
    text-align: right;
    text-transform: uppercase;
  }
  &__email__link {
    font-size: 18px;
    line-height: 1.11;
    text-align: right;
  }
  &__email {
    text-transform: none;
  }
  &__link,
  &__days {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.11;
    text-align: right;
  }
  &__link:last-child {
    margin-bottom: 0;
  }
  &__days:last-child {
    margin-bottom: 0;
  }

  @include mq($width-desktop) {
    margin-left: auto;
  }
}

.order-form__container {
  @include mq($width-desktop) {
    padding-left: 149px;
    padding-right: 149px;
    display: flex;
  }
}
