<section>
  <div class="container">
    <div class="creation__container">
      <div class="creation__box">
        <h3 class="creation__title">Способи створення моделі:</h3>
        <ul class="creation__list list">
          <li class="creation__item">3D сканування</li>
          <li class="creation__item">
            На основі фотографій з доданими розмірами
          </li>
          <li class="creation__item">За ескізами з розмірами</li>
          <li class="creation__item">За вашим кресленням</li>
          <li class="creation__item">
            По вже існуючому прототипу шляхом зняття розмірів
          </li>
        </ul>
      </div>
      <div class="modeling__img-container">
        <!-- <div class="modeling__t-img"></div> -->
      </div>
    </div>
  </div>
</section>
