<section class="section modeling">
  <div class="container modeling-container">    
    <div class="modeling__div">      
      <div class="modeling-rec"></div>
      <div class="modeling-sec-container"></div>
      <h3 class="modeling-title">Способи створення моделі:</h3>           
        <ul class="modeling-list list">
          <li class="modeling-item">
              <p class="modeling__text">3D сканування</p>
          </li>
          <li class="modeling-item">
             <p class="modeling__text">На основі фотографій з доданими розмірами</p>
          </li>
          <li class="modeling-item">
            <p class="modeling__text">За ескізами з розмірами</p>
          </li>
          <li class="modeling-item"> 
            <p class="modeling__text">За вашим кресленням</p>
          </li>
          <li class="modeling-item">
            <p class="modeling__text"> По вже існуючому прототипу шляхом зняття розмірів</p>
          </li>
        </ul>        
        <div class="modeling__mob-one"></div>
        <div class="modeling__mob-two"></div>
      </div>
      <div class="modeling__img-container">
        <div class="modeling__t-img"></div>
      </div>
    </div>
 </section>
