<section class="section modeling">
  <div class="container ">
    <div class="modeling-container">
    <div class="modeling__div">
      <h3 class="modeling-title">Способи створення моделі:</h3>
      <ul class="modeling-list list">
        <li class="modeling-item">3D сканування</li>
        <li class="modeling-item">На основі фотографій з доданими розмірами</li>
        <li class="modeling-item">За ескізами з розмірами</li>
        <li class="modeling-item">За вашим кресленням</li>
        <li class="modeling-item">
          По вже існуючому прототипу шляхом зняття розмірів
        </li>
      </ul>
    </div>
    <div class="modeling__img-container">
      <div class="modeling__t-img"></div>
    </div>
    </div>
  </div>
</section>
