<section>
  <div class="modeling-hero__container container">
    <h2 class="title modeling-hero__title">3D МОДЕЛЮВАННЯ</h2>
    <ul class="modeling-hero__box">
      <li class="modeling-hero__description">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо
        спроектована модель буде створюватися шляхом 3D друку, обробки заготовки
        на ЧПУ станках або іншими виробничими методами, то до моделі
        преставляеться ряд інженерних вимог які повинен враховувати дизайнер при
        розробці моделі.
      </li>

      <li class="modeling-hero__description">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
        підготують модель для її створення. Ми маємо широкий спектр інструментів
        для вдоволення будь-якої вашої задачі.
      </li>
    </ul>
  </div>
</section>
