
  <section class="section method">
            <div class="container">
                <h3 class="method__title title">Чим ми займаємося</h3>
                <ul class="method__list list">
                    <li data-aos="zoom-in" class="method__item">
             
          </li>    
                <li data-aos="zoom-in" class="method__item">                 
              </li>
               <li data-aos="zoom-in" class="method__item">               
               
              </li>                                      
                 </ul>
            </div>
        </section>
   