<section class="model-examples">
    <div class="container">
      <h2 class="model-examples__title">МИ СТВОРЮЄМО</h2>
      <ul class="model-examples__list">
        <li class="model-examples__item">
          <div class="model-examples__canvas">
            <div class="model-examples__div">  
              <picture class="model-examples__img">
            <source
              srcset="
                ./images/print/desktop/prototype.png 1x,
                ./images/print/desktop/prototype@2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
              ./images/print/tablet/prototype.png 1x,
              ./images/print/tablet/prototype@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./images/print/mobile/prototype.png 1x,
              ./images/print/mobile/prototype@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/print/desktop/prototype.png"
              alt="3-Д ПРОТОТИПИ"
            />
              </picture>
            </div>  
            <h3 class="model-examples__description">ПРОТОТИПИ</h3>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__canvas">
            <div class="model-examples__div"> 
              <picture class="model-examples__img">
                <source
                  srcset="
                    ./images/print/desktop/maquette.png 1x,
                    ./images/print/desktop/maquette@2x.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                  ./images/print/tablet/maquette.png 1x,
                  ./images/print/tablet/maquette@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/print/mobile/maquette.png 1x,
                  ./images/print/mobile/maquette@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/print/desktop/maquette.png"
                  alt="3-Д МАКЕТИ"
                />
              </picture>
            </div>
            <h3 class="model-examples__description">МАКЕТИ</h3>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__canvas">
            <div class="model-examples__div"> 
              <picture class="model-examples__img">
                <source
                  srcset="
                    ./images/print/desktop/decor.png 1x,
                    ./images/print/desktop/decor@2x.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                  ./images/print/tablet/decor.png 1x,
                  ./images/print/tablet/decor@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/print/mobile/decor.png 1x,
                  ./images/print/mobile/decor@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/print/desktop/decor.png"
                  alt="3-Д ДЕКОР"
                />
              </picture>
            </div>
            <h3 class="model-examples__description">ДЕКОР</h3>
          </div>
        </li>
        <li class="model-examples__item">
            <div class="model-examples__canvas">
              <div class="model-examples__div"> 
                <picture class="model-examples__img">
                  <source
                    srcset="
                      ./images/print/desktop/3d-coub.png 1x,
                      ./images/print/desktop/3d-coub@2x.png 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                    ./images/print/tablet/3d-coub.png 1x,
                    ./images/print/tablet/3d-coub@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                    ./images/print/mobile/3d-coub.png 1x,
                    ./images/print/mobile/3d-coub@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/print/desktop/3d-coub.png"
                    alt="3-Д КОРПОРАТИВНИЙ
                    ДИЗАЙН"
                  />
                </picture>
              </div>
              <h3 class="model-examples__description">КОРПОРАТИВНИЙ<br>ДИЗАЙН</h3>
            </div>
        </li>
      </ul>
    </div>
  </section>