<section class="process-description">
  <div class="container">
    <h2 class="process-description__title visually-hidden">Опис процесу 3Д-друку</h2>
    <ul class="process-description__list">
      <li class="process-description__item">
        <picture class="process-description__img">
          <source
            srcset="
              ./images/print/desktop/bgi-printing-service.png    1x,
              ./images/print/desktop/bgi-printing-service@2x.png 2x            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-printing-service.png    1x,
              ./images/print/tablet/bgi-printing-service@2x.png 2x            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-printing-service.png    1x,
              ./images/print/mobile/bgi-printing-service@2x.png 2x            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/print/desktop/bgi-printing-service.png"
            alt="Процес 3-д друку"
            class="process-description__img--width"
          />
        </picture>
        <div class="process-description__set">
          <p class="process-description__description">
            <span class="process-description__current">3D-ДРУК</span> - ми
            використовуємо FDM технологію друку. Вона представляє собою пошарове
            формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="process-description__description">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
          <p class="process-description__description">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>
          <a href="./order.html" class="buttons-link buttons-link-tablet">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
        </div>
      </li>

      <li class="process-description__item">
        <picture class="process-description__img">
          <source
            srcset="
              ./images/print/desktop/bgi-modeling-services.png    1x,
              ./images/print/desktop/bgi-modeling-services@2x.png 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-modeling-services.png    1x,
              ./images/print/tablet/bgi-modeling-services@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-modeling-services.png    1x,
              ./images/print/mobile/bgi-modeling-services@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./images/print/desktop/bgi-modeling-services.png"
            alt="Процес 3-д моделювання"
            class="process-description__img--width"
          />
        </picture>
        <div class="process-description__set">
          <p class="process-description__description">
            <span class="process-description__current">3D-МОДЕЛЮВАННЯ</span> -
            це процес розробки математичного уявлення будь-якої поверхні об'єкта
            в трьох вимірах за допомогою спеціалізованого програмного
            забезпечення.</p>
          <p class="process-description__description">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.</p>
          <p class="process-description__description">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
            повністю задовольнить ваші потреби. </p>
          <a href="./order.html" class="buttons-link buttons-link-tablet">ЗРОБИТИ ЗАМОВЛЕННЯ</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <picture class="process-description__img">
          <source
            srcset="
              ./images/print/desktop/bgi-scanning-services.png    1x,
              ./images/print/desktop/bgi-scanning-services@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-scanning-services.png    1x,
              ./images/print/tablet/bgi-scanning-services@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-scanning-services.png    1x,
              ./images/print/mobile/bgi-scanning-services@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/print/desktop/bgi-scanning-services.png"
            alt="Процес 3-д сканування"
            class="process-description__img--width"
          />
        </picture>
        <div class="process-description__set">
          <p class="process-description__description">
            <span class="process-description__current">3D-СКАНУВАННЯ</span> -
            зняття даних, шляхом аналізу форми предмета і на основі отриманих
            даних створення її 3D-моделі.
          </p>
          <p class="process-description__description">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
            подальшого її друку на 3D-принтері.
          </p>
          <a href="./order.html" class="buttons-link buttons-link-tablet"
            >ЗРОБИТИ ЗАМОВЛЕННЯ</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
