// @use 'sass:list';

$bg-left-mob: (
  (1 0 0 35 35 0),
  (-29 295 0 0 35 0),
  (-17 643 25 0 25 0),
  (-18 1062 0 0 0 35)
);

$bg-right-mob: (
  (0 0 35 0 0 35),
  (-15 581 72 72 72 72),
  (-21 1025 0 25 0 25),
  (-15 1352 25 0 25 0)
);

$bg-main-left-tab: (
  (-17 1329 72 72 72 72),
  (32 74 0 0 35 0),
  (32 432 0 0 35 0),
  (106 148 0 35 0 0),
  (106 940 0 35 0 0),
  (106 71 72 72 72 72),
  (32 646 25 0 25 0),
  (32 222 0 0 0 35),
  (32 1014 0 0 0 35),
  (106 296 0 0 35 0),
  (233 0 0 35 35 0),
  (32 358 72 72 72 72),
  (32 0 35 0 0 0)
);

$bg-main-right-tab: (
  (92 0 0 0 0 0),
  (32 296 72 72 0 0),
  (32 78 0 0 72 0),
  (32 510 35 0 0 0),
  (105 152 72 72 72 72),
  (-17 584 72 72 72 72),
  (32 370 0 0 0 35),
  (105 296 0 0 0 35),
  (105 1433 0 0 0 35),
  (32 983 0 25 0 25),
  (32 222 25 0 25 0),
  (32 1359 25 0 25 0),
  (105 78 0 0 0 0),
  (215 0 35 0 0 35)
);

$bg-main-left-des: (
  (30 144 0 0 72 0),
  (30 843 0 0 72 0),
  (174 289 0 72 0 0),
  (174 1936 0 72 0 0),
  (-58 2597 72 72 72 72),
  (174 145 72 72 72 72),
  (30 1243 72 0 72 0),
  (30 433 0 0 0 72),
  (30 2057 0 0 0 72),
  (174 577 0 0 72 0),
  (292 0 0 72 72 0),
  (30 698 72 72 72 72),
  (30 0 72 0 0 0)
);

$bg-main-right-des: (
  (149 0 0 0 0 0),
  (32 577 72 72 0 0),
  (32 144 0 0 72 0),
  (32 1020 72 0 0 0),
  (176 289 72 72 72 72),
  (-64 1164 72 72 72 72),
  (32 721 0 0 0 72),
  (176 577 0 0 0 72),
  (176 2880 0 0 0 72),
  (31 2057 0 72 0 72),
  (32 433 72 0 72 0),
  (32 2735 72 0 72 0),
  (176 144 0 0 0 0),
  (267 0 72 0 0 72)
);

$bg-pictute-shadow: 20px 20px 80px rgba(0 0 0 / 0.25);

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
}

.bg li {
  width: 74px;
  height: 74px;
  position: absolute;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;

  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  @include mq($width-desktop) {
    width: 144px;
    height: 144px;
  }
}

@for $i from 1 through length($bg-left-mob) {
  $params: nth($bg-left-mob, $i);

  .bg__left li:nth-child(#{$i}) {
    left: nth($params, 1);
    top: nth($params, 2);
    border-radius: nth($params, 3)
      nth($params, 4)
      nth($params, 5)
      nth($params, 6);
  }
}

@include mq($until: $width-tablet) {
  .bg__left li:nth-child(n + #{length($bg-left-mob) + 1 }) {
    display: none;
  }

  .bg__right li:nth-child(n + #{length($bg-right-mob) + 1 }) {
    display: none;
  }
}

@for $i from 1 through length($bg-right-mob) {
  $params: nth($bg-right-mob, $i);

  .bg__right li:nth-child(#{$i}) {
    right: nth($params, 1);
    top: nth($params, 2);
    border-radius: nth($params, 3)
      nth($params, 4)
      nth($params, 5)
      nth($params, 6);
  }
}

@include mq($width-tablet) {
  @for $i from 1 through length($bg-main-left-tab) {
    $params: nth($bg-main-left-tab, $i);

    .bg__left li:nth-child(#{$i}) {
      left: nth($params, 1);
      top: nth($params, 2);
      border-radius: nth($params, 3)
        nth($params, 4)
        nth($params, 5)
        nth($params, 6);
    }
  }

  .bg__left li:nth-child(13) {
    box-shadow: none;
  }

  .bg__left li:nth-child(6) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-tab-1.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-tab-2x-1.jpg');
    }
  }

  .bg__left li:nth-child(12) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-tab-2.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-tab-2x-2.jpg');
    }
  }

  @for $i from 1 through length($bg-main-right-tab) {
    $params: nth($bg-main-right-tab, $i);

    .bg__right li:nth-child(#{$i}) {
      right: nth($params, 1);
      top: nth($params, 2);
      border-radius: nth($params, 3)
        nth($params, 4)
        nth($params, 5)
        nth($params, 6);
    }
  }

  .bg__right li:nth-child(1) {
    box-shadow: none;
  }

  .bg__right li:nth-child(3) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-tab-3.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-tab-2x-3.jpg');
    }
  }

  .bg__right li:nth-child(2) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-tab-4.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-tab-2x-4.jpg');
    }
  }
}

// desktop

@include mq($width-desktop) {
  @for $i from 1 through length($bg-main-left-des) {
    $params: nth($bg-main-left-des, $i);

    .bg__left li:nth-child(#{$i}) {
      left: nth($params, 1);
      top: nth($params, 2);
      border-radius: nth($params, 3)
        nth($params, 4)
        nth($params, 5)
        nth($params, 6);
    }
  }

  .bg__left li:nth-child(2) {
    width: 110px;
  }

  .bg__left li:nth-child(7) {
    height: 161px;
  }

  .bg__left li:nth-child(9) {
    width: 140px;
  }

  .bg__left li:nth-child(6) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-des-1.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-des-2x-1.jpg');
    }
  }

  .bg__left li:nth-child(12) {
    box-shadow: $bg-pictute-shadow;
    background-image: url('../images/decor/bg-des-2.jpg');
    @include retina() {
      background-image: url('../images/decor/bg-des-2x-2.jpg');
    }

    @for $i from 1 through length($bg-main-right-des) {
      $params: nth($bg-main-right-des, $i);

      .bg__right li:nth-child(#{$i}) {
        right: nth($params, 1);
        top: nth($params, 2);
        border-radius: nth($params, 3)
          nth($params, 4)
          nth($params, 5)
          nth($params, 6);
      }
    }

    .bg__right li:nth-child(7) {
      height: 124px;
    }

    .bg__right li:nth-child(9) {
      height: 116px;
    }

    .bg__left li:nth-child(6) {
      box-shadow: $bg-pictute-shadow;
      background-image: url('../images/decor/bg-des-1.jpg');
      @include retina() {
        background-image: url('../images/decor/bg-des-2x-1.jpg');
      }
    }

    .bg__left li:nth-child(12) {
      box-shadow: $bg-pictute-shadow;
      background-image: url('../images/decor/bg-des-2.jpg');
      @include retina() {
        background-image: url('../images/decor/bg-des-2x-2.jpg');
      }
    }
  }
}
